name: Build and Publish to build branch

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Publish dist/ to build branch
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: ${{ github.repository }}
          BRANCH: build          # <– branch that will hold static files
          FOLDER: dist           # <– Vite build output
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
